src/settings
src/handler/linux/HandlerEnvironment.json
src/handler/windows/HandlerEnvironment.json
.idea
build/deploy
build/*.json
src/handler/linux/test.sh

# Deployment automation
.obs

.terraform*
terraform.tfstate*
.azure

*.bck
test/ats/TEST-*.xml
.local
.cache
