src/settings
src/handler/linux/HandlerEnvironment.json
src/handler/windows/HandlerEnvironment.json
.idea
build/deploy
src/handler/linux/test.sh

# Deployment automation
.obs

.terraform*
terraform.tfstate*
